table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
th {
    background-color: #0070f3;
    color: #ffffff;
}
tr:nth-child(even) {
    background-color: #f3f3f3;
}