/* styles/Instituciones.module.css */
.container {
    padding: 20px;
}

.title {
    text-align: center;
    color: #333; /* Considera usar un color más oscuro o uno que se ajuste a tu paleta de colores */
    font-size: 32px; /* Aumenta el tamaño para darle más presencia */
    margin-bottom: 30px; /* Asegura espacio suficiente alrededor del título */
    font-weight: bold; /* Hace que el título sea más prominente */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Usa una tipografía más elegante si está disponible */
    text-transform: uppercase; /* Opcional: transforma el texto a mayúsculas para darle un toque formal */
    letter-spacing: 1.2px; /* Aumenta el espaciado entre letras para mejorar la legibilidad */
    padding: 10px 0; /* Añade un poco de padding vertical */
    border-bottom: 2px solid #0070f3; /* Añade una línea debajo del título para destacarlo */
    display: inline-block; /* Ajusta el ancho al contenido y permite el uso de margin auto para centrar */
    margin: auto; /* Centra el título si tiene display inline-block */
    background-color: #f4f4f4; /* Opcional: añade un fondo si es necesario para contrastar con el contenedor */
    border-radius: 5px; /* Opcional: bordes redondeados para el fondo */
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Ajuste inicial para desktop */
    gap: 20px;
}

.institucionCard {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que los botones siempre estén alineados abajo */
}

.logo {
    max-width: 100%;
    max-height: 80px;
    margin: auto;
    object-fit: contain;
}

.button {
    margin-top: 12px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
}

@media (max-width: 600px) {
    .gridContainer {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajuste para móviles */
    }

    .title {
      font-size: 20px; /* Texto más pequeño para móviles */
    }
}